<html>
<body>
<th:block th:include="header"></th:block>

<html>
<head>
<title>ADMIN</title>
</head>
<br> </br>
<br> </br>
<br> </br>
<style>
.p{
    margin: 35px 250px;
  }
</style>
<div class="p">
    <h2> <a href="admin/allusers">All USERS</a></h2>
    <h2> <a href="admin/allcat">All Category</a></h2>
    <h2><a href="admin/employee">Employee</a></h2>
    <h2><a href="admin/billing">BILLING</a></h2>
    <h2><a href="admin/allcustomer">ALL CUSTOMER</a></h2>
    <h2><a href="admin/allbilling">ALL Billing</a></h2>
</div>
</body>
</html>


<th:block th:include="tail"></th:block>
</body>
</html>